body {
    background-color: rgba(224, 218, 255, 0.212);
}

#title {
    margin: 50px 0px 0px 0px;
    color: #181818;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: rgba(12, 12, 63, 0.904);
}

main {
    background-color: rgb(238, 238, 238);
    margin: 50px 0px 0px 0px;
    height: 41.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

button {
    color: rgb(26, 26, 26);
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    font-size: 1.2rem;
    z-index: 5;
    padding-top: 5px;
    padding-bottom: 2px;
}

.game-card {
    width: 550px;
    height: 550px;
    border: white;
    border-radius: 10px;
    background-color: rgba(17, 17, 73, 0.781);
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 20px 20px 60px 5px #acacac
}

.hidden {
    display: none;
}

p {
    font-size: 2rem;
}

ul#input-list {
    padding: 0px 0px 0px 0px;
}

#container-round {
    margin: 20px;
    text-align: center;
}

#player-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 15px;
}

#winner-end {
    z-index: 7;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 7px;
    background-color: #383838f5;
}

strong {
    font-size: 1.1rem;
}

.input {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #dddddd;
    padding: .2rem;
    outline: none;
    background-color: transparent;
    color: #ffffff;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    font-size: 1rem;
    margin-bottom: 0.6rem;
    margin-right: 0.5rem;
    text-align: center;
}

.input:focus, input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
}

.input::placeholder {
    color: #ececec;
}

.input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}

button {
    background-color: #2e2e2e;
    border: none;
    border-radius: 1rem;
    color: #f0f0f0;
    cursor: pointer;
    font-size: 18px;
    outline: none;
    padding: 10px 7px 10px 7px;
    text-align: center;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

button:hover {
    color: #0f0f0f;
    background-color: #f0f0f0;
    box-shadow: rgba(170, 170, 170, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

button:active {
    box-shadow: none;
    transform: translateY(0);
}

@media screen and (max-width: 767px) {
    .game-card {
        width: 350px;
        height: 600px;
        border: white;
        border-radius: 10px;
        background-color: rgba(17, 17, 73, 0.781);
        color: white;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: 20px 20px 60px 5px #acacac
    }
}